.env
venv/
__pycache__/
*.py[cod]
.pytest_cache/# Ambiente virtual
.venv/
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Compilações
build/
dist/
*.egg-info/

# VSCode
.vscode/

# JetBrains
.idea/

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Chroma DB
chroma/

# Arquivos temporários
temp/
tmp/

# SQLite
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Chroma
chroma/
chroma_questions/
chroma_theory/

#banco de questões geradas
Questoes_geradas
# Session
session.json

#teste
teste.py
